MONGO_USERNAME=admin
MONGO_PASSWORD=Xdas33JJdasnnjdA22KKsaaA
MONGODB_URI=mongodb://admin:Xdas33JJdasnnjdA22KKsaaA@mongo:27017/?authSource=admin
MONGODB_DB=parse-news
API_ID=27372023
API_HASH=af2556b37ca189e5ca1dee74ad61e390
API_USERNAME = myuser
API_PASSWORD = mypassword
STRING_SESSION=1BAAOMTQ5LjE1NC4xNjcuOTEAUIqj42oU4Erze0q8h7T4ul6ClEYT0S7LXm4Wp6IxDUIlDSfFP98p1Aww3OojRpzfgilNTqUJLegZeRd9E+fsZJ5OWYQG/xFvwQGcyDCJztyec2Sn73vqW5zYlkOgvWBZSNHxfeofTZLWPp3erOAnrL52MeEYxjK6DFKc7EoZP1arvr0Ad5hjxXDOZX82BCkkKetODqEmYfTLaxqmfts3JhK2ZH6c6r2TduOwqnRT++JHTU7s8Q4Oqoag5hih0RL5QNK8v3wu9BqRtd6pNkQ8J2AeSrf/xiV57FaRgnc1UIBeTMzXp4bScU5Bviuylm9eXw05F18+VQF3IKdhrCERFFM=
MEDIA_PATH=./media
API_BASE_URL = http://backend:3001
VITE_API_URL = https://tg.chiorio.com/api/