MONGO_USERNAME=admin
MONGO_PASSWORD=Xdas33JJdasnnjdA22KKsaaA

MONGODB_URI=mongodb://admin:Xdas33JJdasnnjdA22KKsaaA@mongo:27017/?authSource=admin
MONGODB_DB=parse-news
# MONGODB_URI=parse-news

API_ID=27372023
API_HASH=af2556b37ca189e5ca1dee74ad61e390

API_USERNAME = myuser
API_PASSWORD = mypassword
STRING_SESSION=1BAAOMTQ5LjE1NC4xNjcuOTEAUKvpJX8rqFfqXLT/rfc3+0QjDahUD4WfXe9y+jP5LwaFjRKC/q/4DdTE7b4vRVYzUP10Gwai6Cj/mkBhxDrITJfJNdgrGcRCF/04Jh6O9ZC2vNHHnGTKLI9KsQ27Xob53D0zLm7C5+iu2ZnrpwzDyMmV3a6JGgUN51zHNpdVhlMh1LOtICWTZJ/Jpk1CY76kso10cZ7gGRt12Pfx/xAAkwgenKLCuL/lvuoA6JjBZmQvwGWMvSerPtj7Y0RO6+2LuSyGwqnuyVBFNu5n8BQOnyx5wM7uKvjNpmaigHosTGrxJyOYUD6FCDLxw4T5v0c4joIygCD/A+Pk8nZXDcisZWg=

# MONGO_DB_NAME=parse-news
MEDIA_PATH=./media

API_BASE_URL = https://tg.chiorio.com/api/

VITE_API_URL = https://tg.chiorio.com/api/

STATS_UPDATE_LIMIT = 50

YANDEX_API_FOLDER = b1gtgjpj33dv6t7ighr4
IAM_TOKEN = "t1.9euelZqdj8qTlZ2RlYqelouLl4yKie3rnpWayJuRyM7HkJjPzJmenJPHl57l8_cTTiE8-e9RaXkZ_t3z9w9HITz571FpeRn-1eX174ac0ZCeiouX0ZyQkYyQk5rt-ZCPmpGWm83n9euelZqUzpuWzMybnYqQjpKYmJeWzu_8zdf1256
bzcfNzJvK0sydmZvSy8ycntKdnZvK0pnIm87NzM7Ky8ydx-_-xeuelZqUzpuWzMybnYqQjpKYmJeWzr3rnpWajMqLmY_Mm8ubyI7JkpCQzpi1656VmsibkcjOx5CYz8yZnpyTx5ee.rTPFXcATMp-e8cQzBywEtFwyHI7xteynS5FBjBkL
lL_gH6--XKfYJXotUbXRS0BZfQP_9nYL6i3b88r5aAMQAQ"