MONGO_USERNAME=
MONGO_PASSWORD=

MONGODB_URI=
MONGODB_DB=

API_ID=
API_HASH=

API_USERNAME = 
API_PASSWORD = 
STRING_SESSION=

MEDIA_PATH=./media

API_BASE_URL = https://tg.chiorio.com/api/

VITE_API_URL = https://tg.chiorio.com/api/

STATS_UPDATE_LIMIT = 50

YANDEX_API_FOLDER = 

YANDEX_API_KEY = ""